/*Hide Useless Things*/
.premium-banner, .ad-container, .promotedlink, .bottommenu.bottommenu-advertise, .happening-now, .email-collection-banner, p.bottommenu, .nub,  .sidebox.create, .redesign-beta-optin, p.debuginfo, .usertext.grayed {
    display:none!important;
}

/*Atom Dark Theme*/
body, .side, #header, #header-bottom-right, #sr-header-area, .leavemoderator, .titlebox form.toggle, #searchexpando, .icon-menu a, .link .usertext .md, .side .submit-link a, .side .submit-text a, #header .tabmenu li a, #header .tabmenu li.selected a, .comment-visits-box, .new-comment .usertext-body, .linkinfo, pre, pre.code, code, .reddit-infobar, .trophy-info {
    background: #31383f !important;
    color: rgb(250, 250, 250) !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
/*Header Border*/
#header, #sr-header-area {
    border-bottom-color: #31383f !important;
}
